@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Your Cyber CPA is a free application designed to track your earnings and spending and to help you make responsible financial decisions. </p>
