@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Your Cyber CPA!</h1>
    <p class="lead">Your Cyber CPA is a free application designed to track your earnings and spending and to help you make responsible financial decisions.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gain Stability!</h2>
        <p>
            Did you Know... According to a 2017 government poll, 78% of Americans live paycheck to paycheck. Don't be part of the 78%. Create stability for yourself.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Rise Above!</h2>
        <p>
            Did you Know... According to a 2017 government poll, 71% of Americans are in debt. Don't be part of the 71%. Rise above the norm.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn More &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Your Future is in Your Hands!</h2>
        <p>
            In the wise words of Benjamin Franklin, "A penny saved is a penny earned." Your Cyber CPA allows you to take an objective look at your income and expenditures and to create a budget. Your future is in your hands. Take control of your finances!
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>